* {
  box-sizing: border-box;
}

:root {
  --max-width: 768px;
  --header-height: 44px;
  --c-main: #ff8b45;
  --c-black: #000;
  --c-424242: #424242;
  --c-666: #666;
  --c-999: #999;
  --c-b3b3b3: #b3b3b3;
  --c-e1e1e1: #e1e1e1;
  --c-f2f2f2: #f2f2f2;
  --c-f7f7f7: #f7f7f7;
  --c-white: #fff;
  --c-fff: #fff;

}

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body, button {
  font-family: 'NanumSquere', sans-serif;
}